package {{package_name}}.rest

import org.springframework.boot.SpringBootConfiguration
import org.springframework.context.annotation.ComponentScan

@SpringBootConfiguration
@ComponentScan(basePackages = ["{{package_name}}"])
class {{domain_capitalized}}PoetryRestTestConfiguration
