package {{package_name}}.repository.dao

import org.springframework.data.jpa.repository.JpaRepository
import org.springframework.data.repository.history.RevisionRepository
import org.springframework.stereotype.Repository
import {{package_name}}.repository.entity.{{domain_capitalized}}Entity
import java.util.*

@Repository
interface {{domain_capitalized}}Dao : JpaRepository<{{domain_capitalized}}Entity, Long>, RevisionRepository<{{domain_capitalized}}Entity, Long, Long>  {
  fun findByCode(code: Long): Optional<{{domain_capitalized}}Entity>
}
