package {{package_name}}.respository

import org.springframework.boot.SpringApplication
import org.springframework.boot.autoconfigure.SpringBootApplication
import org.springframework.boot.test.context.TestConfiguration
import org.springframework.context.annotation.Import
import {{package_name}}.repository.config.R2dbcAdapterConfig

@SpringBootApplication
class {{domain_capitalized}}R2dbcAdapterTestApplication {

  fun main(args: Array<String>) {
    SpringApplication.run({{domain_capitalized}}R2dbcAdapterTestApplication::class.java)
  }

  @TestConfiguration
  @Import(R2dbcAdapterConfig::class)
  class {{domain_capitalized}}R2dbcTestConfig
}