package {{package_name}}.rest.representation

import {{package_name}}.domain.model.{{domain_capitalized}}

data class {{domain_capitalized}}Info(val {{domain_plural}}: List<{{domain_capitalized}}> = emptyList())
