package {{package_name}}.repository.config

import org.springframework.boot.persistence.autoconfigure.EntityScan
import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration
import org.springframework.data.envers.repository.support.EnversRevisionRepositoryFactoryBean
import org.springframework.data.jpa.repository.config.EnableJpaRepositories
import {{package_name}}.domain.port.Obtain{{domain_capitalized}}
import {{package_name}}.repository.{{domain_capitalized}}Repository
import {{package_name}}.repository.dao.{{domain_capitalized}}Dao

@Configuration
@EntityScan("{{package_name}}.repository.entity")
@EnableJpaRepositories("{{package_name}}.repository.dao", repositoryFactoryBeanClass = EnversRevisionRepositoryFactoryBean::class)
class JpaAdapterConfig {

  @Bean
  fun get{{domain_capitalized}}Repository({{domain}}Dao: {{domain_capitalized}}Dao): Obtain{{domain_capitalized}} {
    return {{domain_capitalized}}Repository({{domain}}Dao)
  }
}
