name: Continuous Integration For Example Project
on:
  pull_request:
    branches:
      - main
    paths:
      - 'example/**'
      - '.github/workflows/ci-for-example.yaml'
  workflow_dispatch:
jobs:
  example-ci:
    defaults:
      run:
        working-directory: ./example
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: mvn clean verify -ntp